NASA Mars News

In [1]:
from splinter import Browser
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [2]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
news_title = soup.find("div", class_="content_title").text
news_para = soup.find("div", class_="article_teaser_body")
print(f"Title: {news_title}")
print(f"Para: {news_para}")

Title: Digital Creators: Apply for NASA Mars Landing Event
Para: <div class="article_teaser_body">Up to 30 multimedia participants will be selected for a special two-day event at JPL culminating in the InSight spacecraft's landing on Mars. Apply by Sept. 3.</div>

JPL Mars Space Images - Featured Image

In [6]:
image_url ="https://jpl.nasa.gov/spaceimages/?"
browser.visit(image_url)

In [7]:
from urllib.parse import urlsplit
base_url = "{0.scheme}://{0.netloc}/".format(urlsplit(image_url))
print(base_url)

https://jpl.nasa.gov/

In [8]:
img_path = "//*[@id=\"page\"]/section[3]/div/ul/li[1]/a/div/div[2]/img"

In [9]:
results = browser.find_by_xpath(img_path)
img = results[0]
img.click()

In [11]:
image_html = browser.html
soup = BeautifulSoup(image_html, "html.parser")
img_url = soup.find("img", class_="fancybox-image")["src"]
full_image_url = base_url + img_url
print(full_image_url)

https://jpl.nasa.gov//spaceimages/images/largesize/PIA22494_hires.jpg

Mars Weather Twitter

In [12]:
twitter_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(twitter_url)

In [13]:
twitter_html = browser.html
soup = BeautifulSoup(twitter_html, "html.parser")
weather_tweet = soup.find("p", class_="js-tweet-text").text
print(weather_tweet)

Sol 2147 (2018-08-21), high -15C/5F, low -68C/-90F, pressure at 8.70 hPa, daylight 05:30-17:44

Mars Facts

In [14]:
facts_url = 'https://space-facts.com/mars/'

In [15]:
facts_table = pd.read_html(facts_url)
facts_table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [16]:
mars_table_df = facts_table[0]
mars_table_df.columns = ["Parameter", "Values"]
mars_table_df

              Parameter                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [17]:
mars_table_html = mars_table_df.to_html()
mars_table_html = mars_table_html.replace("\n", "")
mars_table_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

Mars Hemispheres

In [18]:
hemisphere_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemisphere_url)

In [19]:
hemisphere_url = browser.html
soup = BeautifulSoup(hemisphere_url, "html.parser")

results = soup.find('div', class_="collapsible results")
hemispheres = results.find_all('a')

hemisphere_image_urls = []

for a in hemispheres:
    title = a.h3
    link = "http://astrogeology.usgs.gov" + a["href"]
    
    browser.visit(link)
    
    image_page = browser.html
    results = BeautifulSoup(image_page, "html.parser")
    image_link = results.find("div", class_="downloads").find('li').a['href']
    
    image_dict = {}
    image_dict["title"] = title
    image_dict['image_url'] = image_link
    
    hemisphere_image_urls.append(image_dict)
print(hemisphere_image_urls)

[{'title': None, 'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': <h3>Cerberus Hemisphere Enhanced</h3>, 'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': None, 'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': <h3>Schiaparelli Hemisphere Enhanced</h3>, 'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': None, 'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': <h3>Syrtis Major Hemisphere Enhanced</h3>, 'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': None, 'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}, {'title': <h3>Valles Marineris Hemisphere Enhanced</h3>, 'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]